body {
    font-family: 'Segoe UI', sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
    height: 100%;
    margin: 0;
    border-collapse: collapse;
}

content {
    background-color: blueviolet;
}

span {
    font-style: italic;
}

svg {
    overflow: visible;
    width: 100%;
    height: 100%;
}

.InitialText {
    font-size: 30px;
    color: rgba(0,0,0,.6);
    position: relative;
    top: 0;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

/*************************************/
/* node body */
.nodePassThroughOverlay {
    background-color: rgba(0,0,0,0.4);
    cursor: not-allowed;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid rgb(20,20,20);
    position: absolute;
    width: 100%;
}

.pimGroup.nodeGroup {
    position: absolute;
    top: 21px;
    width: 100%;
    bottom: 5px;
    overflow: hidden;
}

*:not(.pimHGroup) > .nodeBody {
    background-color: gray;
    border-radius: 6px;
    border: 1px solid rgb(80,80,80);
    position: absolute;
    box-shadow: rgba(0,0,0,0.3) 3px 3px 6px;
    resize: both;
}

.nodeBody.passthrough {
    background-color: gray;
    border: 1px solid rgb(30,30,30);
    box-shadow: rgba(0,0,0,0.4) 2px 2px 4px;
}

.nodeBody.controller {
    background-color: green;
    border: 1px solid rgb(30,80,30);
    box-shadow: rgba(0,100,0,0.4) 2px 2px 4px;
}

.nodeBody.selected {
    background-color: orange;
    border: 1px solid rgb(20,20,20);
    box-shadow: rgba(0,0,0,0.7) 3px 3px 10px;
}

.nodeBody.invalid {
    background-color: red;
    border: 1px solid red;
    box-shadow: rgba(255,0,0,0.5) 0 0 10px;
}

.nodeBody.minimized {
    border-radius: 3;
}

.nodeBody.maximized {
    border-radius: 0;
    border: 0;
}

*:not(.pimHGroup) > .pimGroup > * {
    margin: 0;
    border: 1px solid black;
}

.nodeBody > *, .nodeBody > .pimGroup > *, .nodeBody > .pimGroup .pimEdit, .nodeBody > .pimGroup .pimGroup > * {
    border: 0;
}

.nodeBody > .pimGroup, .nodeBody > .pimGroup > *, .nodeGroup > * > .pimHGroup > * {
    border-radius: 0 !important;
}

.nodeBody .pimTab {
    border-top-left-radius: 5px !important;
    border-top-right-radius: 15px !important;
}

.pimButton {
    font-size: 100%;
    padding-bottom: 2px;
    border-radius: 2px;
}

*:not(.pimHGroup) > .nodeBody > *:not(:first-child) {
    border-top: 0;
    margin: 0;
}

*:not(.pimHGroup) > .nodeBody > *:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

*:not(.pimHGroup) > .nodeBody > *:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/*************************************/
/* node close button */
.nodeCloseButton {
    background-color: #bfbfbf;
    border-right: 1px solid rgba(0,0,0,0.2);
    border-bottom: 1px solid rgba(0,0,0,0.5);
    cursor: default;
    text-align: center;
    font-size: 80%;
    max-width: 17px;
    min-width: 17px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    .nodeCloseButton:hover {
        border-color: rgb(20,20,20);
        background-color: orange;
    }

    .nodeCloseButton:active {
        background-color: red;
    }

/*************************************/
/* node passThrough button */
.nodePassThroughButton {
    background-color: #bfbfbf;
    border-right: 1px solid rgba(0,0,0,0.2);
    border-bottom: 1px solid rgba(0,0,0,0.5);
    cursor: default;
    text-align: center;
    font-size: 80%;
    max-width: 17px;
    min-width: 17px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    .nodePassThroughButton:hover {
        border-color: rgb(20,20,20);
        background-color: orange;
    }

    .nodePassThroughButton.pressed {
        background-color: orange;
    }

/*************************************/
/* node controller button. It is the toggle button that means 'this node will get a visual representation onthe Controller panel */
.nodeControllerButton {
    background-color: #bfbfbf;
    border-right: 1px solid rgba(0,0,0,0.2);
    border-bottom: 1px solid rgba(0,0,0,0.5);
    cursor: default;
    text-align: center;
    font-size: 80%;
    max-width: 17px;
    min-width: 17px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    .nodeControllerButton:hover {
        border-color: rgb(20,20,20);
        background-color: #1ec33a;
    }

    .nodeControllerButton.pressed {
        background-color: #51ff00;
    }

/*************************************/
.nodeResizer {
    cursor: nwse-resize;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    right: -5px;
    bottom: -5px;
    width: 13px;
    height: 13px;
}

/*************************************/
/* Progress Indicator */
.ProgressIndicatorCanvas {
    background-color: orange;
    border-radius: 2px;
    cursor: default;
    color: black;
    text-align: center;
    text-anchor: middle;
    max-width: 20px;
    min-width: 20px;
    width: 20px;
    max-height: 21px;
    border-bottom: 1px solid rgba(0,0,0,0.5);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    stroke-linecap: square;
}

/*************************************/
/* node header */
.nodeHeaderFlex {
    overflow: hidden;
    border-radius: 6px 6px 0 0;
}

.nodeBody.maximized > .nodeHeaderFlex {
    border-radius: 0;
}

.nodeHeader {
    height: 21px;
    background-color: #b0b0b0;
    padding: 0 10px 2px 10px;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-right: 1px solid rgba(0,0,0,0.2);
    border-bottom: 1px solid rgba(0,0,0,0.5);
    font-size: 80%;
    text-align: left;
    white-space: nowrap;
    color: black;
}

    .nodeHeader:hover {
        border-color: rgb(20,20,20);
        background-color: #c0c0c0;
    }

    .nodeHeader:active {
        background-color: orange;
        cursor: move;
    }

    .nodeHeader.selected {
        background-color: orange;
    }

    .nodeHeader.invalid {
        background-color: red;
    }

    .nodeHeader.passthrough {
        background-color: gray;
    }

    .nodeHeader.controller {
        background-color: rgb(125, 200, 127);
    }

    .nodeHeader.maximized {
        border-radius: 0;
    }


/*************************************/
/* node rename editbox */
.NodeHeaderRenameEditBox {
    background-color: #e0e0e0;
    min-height: 21px;
    border: 1px solid rgb(20,20,20);
    font-family: "Segoe UI";
}

/*************************************/
/* connector */
.connector {
    background-color: gray;
    border-radius: 6px;
    position: absolute;
    border: 1px solid rgb(20,20,20) !important;
    box-shadow: rgba(0,0,0,0.3) 3px 3px 6px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 10px;
    height: 10px;
}

    .connector:hover {
        background-color: rgb(182, 182, 182);
        border: 1.5px solid white;
        width: 10px;
        height: 10px;
        cursor: pointer;
    }

    .connector.loose {
        background-color: rgb(4, 225, 232);
        border: 1px solid rgb(20,20,20) !important;
    }

    .connector:active {
        background-color: rgb(255, 165, 0);
        border: 1.5px solid white;
        cursor: pointer;
    }

    .connector.accepted {
        background-color: rgb(96, 255, 0);
        border: 2px solid white;
    }

    .connector.refused {
        background-color: rgb(255, 0, 0);
        border: 1px solid rgb(20,20,20);
    }

.connectorInvalidLabel {
    padding: 1px 5px 1px 5px;
    float: right;
    margin-top: -8px;
    margin-right: 10px;
    background-color: rgba(255,40,40,0.5);
    border-radius: 5px;
    border: 1px solid rgb(20,20,20);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
}

/************************/
/* connectorHintLabel */
@-moz-keyframes pulse {
    0% {
        -moz-transform: scale(0,0);
        -ms-transform: scale(0,0);
        -o-transform: scale(0,0);
        -webkit-transform: scale(0,0);
        transform: scale(0,0);
    }

    100% {
        -moz-transform: scale(1,1);
        -ms-transform: scale(1,1);
        -o-transform: scale(1,1);
        -webkit-transform: scale(1,1);
        transform: scale(1,1);
    }
}

@keyframes pulse {
    0% {
        -moz-transform: scale(0,0);
        -ms-transform: scale(0,0);
        -o-transform: scale(0,0);
        -webkit-transform: scale(0,0);
        transform: scale(0,0);
    }

    100% {
        -moz-transform: scale(1,1);
        -ms-transform: scale(1,1);
        -o-transform: scale(1,1);
        -webkit-transform: scale(1,1);
        transform: scale(1,1);
    }
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(0,0);
        -moz-transform: scale(0,0);
        -ms-transform: scale(0,0);
        -o-transform: scale(0,0);
        transform: scale(0,0);
    }

    100% {
        -webkit-transform: scale(1,1);
        -moz-transform: scale(1,1);
        -ms-transform: scale(1,1);
        -o-transform: scale(1,1);
        transform: scale(1,1);
    }
}

.connectorHintLabel {
    text-decoration: none;
    padding: 1px 5px 1px 5px;
    float: right;
    margin-top: -8px;
    margin-right: 10px;
    background-color: ghostwhite;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.42);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    -moz-animation-name: pulse;
    -o-animation-name: pulse;
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -moz-animation-timing-function: ease-in-out;
    -o-animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -moz-animation-direction: normal;
    -o-animation-direction: normal;
    -moz-animation-duration: 200ms;
    -o-animation-duration: 200ms;
    -webkit-animation-duration: 200ms;
    animation-duration: 200ms;
    -moz-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    -moz-animation-play-state: running;
    -o-animation-play-state: running;
    -webkit-animation-direction: normal;
    animation-direction: normal;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-play-state: running;
    animation-play-state: running;
}

    .connectorHintLabel.accepted {
        background-color: rgba(96, 255, 0, 0.65);
    }

    .connectorHintLabel.refused {
        background-color: rgba(255, 0, 0, 0.65);
    }

/*************************************/
/* link */
.LinkCurve {
    fill: none;
    stroke: rgba(10,10,10,0.75);
    stroke-width: 3;
}

    .LinkCurve.highlight {
        stroke: orange;
        stroke-width: 4;
    }

    .LinkCurve.markedForDeletion {
        stroke: red;
        stroke-width: 4;
    }

    .LinkCurve.delete {
        stroke: rgba(10,10,10,0.75);
        stroke-width: 3;
    }

        .LinkCurve.delete:hover {
            stroke: red;
            stroke-width: 3;
        }

/*************************************/
/* MiniatureView */
.MiniatureView {
    background-color: rgba(10,10,10,0.40);
    border-color: rgba(255,255,255,0.2);
    border-radius: 2px;
    box-shadow: rgba(0,0,0,0.2) 5px 5px 8px;
    cursor: pointer;
    left: 84%;
    top: -100%;
    width: 15%;
    height: 15%;
    position: relative;
    z-index: 9999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*************************************/
/* SplineEditor */
.SplineEditor {
    background-color: rgb(150,150,150);
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 0;
    position: relative;
}

/*************************************/
/* node maximize button */
.nodeMaximizeButton {
    background-color: #bfbfbf;
    border-bottom: 1px solid rgba(0,0,0,0.5);
    cursor: default;
    text-align: center;
    font-size: 80%;
    max-width: 17px;
    min-width: 17px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    .nodeMaximizeButton.hovering {
        background-color: orange;
        border: 1px solid black;
        border-radius: 3px 3px 1px 1px;
        height: 40px;
        position: absolute;
        top: -20px;
        right: -1px;
        min-width:18px;
        max-width:18px;
    }

    .nodeMaximizeButton.minimized {
        background-color: orange;
    }

    .nodeMaximizeButton.maximized {
        background-color: lawngreen;
    }
